body { 
color:black white;
background: black;
margin: 0px;
font-family: "chakra petch", sans-serif;
margin-bottom: 100px;
}
header  {
border-bottom: solid 2px rgb (42,122,228);
padding: 20px;
front-size: 32px;
color: rgb (42,122,228);
}
section {
     background: rgb(184,156,213);
      padding-bottom:80px;
       display:frex;
        justfy-content:center; 
    }
h1{
    font-size: 40px;
}
   p{
    front-size: 20px;
}
img{
    height: 200px;
}
.categiria-videos {
    display: flex;
    overflow-x:auto;
    gap: 10px;
}
.categiria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid green
}
.categoria{
    color:royalblue (42, 122, 228);
 }